@media(min-width:768px){
    .contact-input{
        width: 50%;
    }
}

form {
    display: table;
}

label, input {
    display: table-cell;
}

.form-el{
    display: table-row;
}

.main-c{
    background-color: #fafafa;
}

#form-holder{
    display: flex;
    justify-content: center;
    align-items: center;
}

#about{
    background-color: #fafafa;
}
