form {
    display: table;
}

label, input {
    display: table-cell;
}

p {
    display: table-row;
}

.btn-col{
    border-radius: 30px;
    background-color: #8338ec;
}

#nav-section{
    background-color: #8338ec;
}

#inventory-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
